#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: royalblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: pointer;
}
